/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* Resetting and basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Styling the body */
body {
    background: url("../images/background-medium.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
}

/* Navbar styling */
.navbar {
    background: transparent;
    margin-bottom: -10px;
    border-bottom: 1px solid gray;
    width: 60%;
    justify-content: center;
}

/* Navbar image styling */
.navbar img {
    margin: 5px 15px 0 10px;
}

/* Navbar link styling */
.navbar .nav-item a {
    font-size: 20px;
    margin: 5px 0 0 10px;
    color: black;
    padding-left: 30px;
}

/* Navbar link hover effect */
.navbar .navbar-nav .nav-link:hover {
    background-color: #3fcde9;
    color: #fff;
}

/* Header styling */
.h1 {
    font-size: 2em;
}

/* Container styling */
.c {
    background-color: #f0f2f5;
    max-width: 80%;
    justify-content: center;
    border-left: #08b9e1 solid 5px;
    border-right: #08b9e1 solid 5px;
    border-radius: 10px;
}

/* Container row styling */
.c .row {
    margin-left: 3%;
    border-bottom: lightgrey solid 2px;
    width: 90%;
}

/* Heading inside container styling */
.c h2 {
    font-size: 3vw;
    margin: 4% 0 4% 0;
    color: #08b9e1;
}

/* Paragraph inside container styling */
.c p {
    margin: 0 0 6% 3%;
    font-size: 2vw;
}

/* Dropdown item styling */
.dropdown .dropdown-item {
    color: black;
    font-size: 1em;
    font-weight: normal;
}

/* Copyright text styling */
#copyright {
    margin-top: 30px;
}

/* Copyright link styling */
#copyright a {
    font-size: 1em;
    color: #08b9e1;
}
